body
{
  background: url('image/Header\ bg@2x.png');
  background-attachment: fixed;
  font-family: 'Trebuchet MS', Arial, sans-serif; 
  color: black; 
  background-color: white;
  overflow:auto;
}

#bloc_page
{
  width: 100%; 
  margin: 5px; 
}
section{
  text-align: center;
  width: 80%; 
  margin: auto;
  text-align: justify; 
  padding: 150px; 
  margin-bottom: 20px;
  display: block; 
}
h1{
  font-family: 'poppins';
  font-size: 1.5em;
}

nav
{ 
  width: auto;
  display: block;
  justify-content: flex-end;
  text-align: justify;
  flex-direction: column;
}    
nav ul
{
  flex-direction: column;
  list-style-type: none; 
  display: flex; 
}
nav li
{
  padding-left: 4px; 
  margin-left: 5px;
}
nav a
{
  font-size: 1.1em;
  color:blue;
  
}
nav a:hover
{
  color: red;
}
.social{
  display: flex;
  flex-direction: row;
}
img{
  border-radius: 10px;
  border:auto;
  width: 20px;
  height: 20px;
  
}